.weather-card {
  padding: 0 40px 40px;
  position: relative;
  display: flex;
  font-family: Cabinet-Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 80px;
}

.weather-card__temp {
  margin: 0;
  position: absolute;
  color: #fff;
  top: 20px;
  left: 56px;
  font-size: 36px;
  line-height: 1.1;
}

.weather-card__image {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  object-position: right top;
  color: black;
}
