.modal__content-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 670px;
  height: 280px;
  text-align: center;
}
.modal__delete-query {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}
.modal__delete-confirm {
  position: static;
  padding-top: 40px;
  padding-bottom: 24px;
}

.modal__delete-cancel {
  background: none;
  border: none;
  font-family: Cabinet-Grotesk, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.modal__delete-cancel:hover {
  color: #00000099;
}
