.card {
  list-style: none;
  position: relative;
  font-family: Cabinet-Grotesk, Arial, Helvetica, sans-serif;
  width: 323px;
  height: 323px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.card:hover {
  cursor: pointer;
}

.card__name {
  border-radius: 8px;
  color: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2px 12px;
  width: 73px;
  height: 24px;
  /* position: absolute; */
  background-color: #fff;
  top: 15px;
  left: 125px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
}
.card__image {
  width: 100%;
  border-radius: 8px;
}

.card__container {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.card__like-button {
  display: flex;
  width: 20px;
  height: 18px;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 70%;
}

.card__like-button_active {
  background-image: url("../assets/CardLikeTrue.svg");
}

.card__like-button_inactive {
  /* background-color: red; */
  background-image: url("../assets/CardLikeFalse.svg");
}
