.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40px;
  width: 25%;
  height: 56px;
  font-family: Cabinet-Grotesk, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.sidebar__container-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar__container-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__buttons {
  background-color: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  border: none;
  padding-left: none;
  cursor: pointer;
  padding: 0;
  padding-bottom: 8px;
}
.sidebar__username {
  display: flex;
  align-items: center;

  padding-left: 16px;
}
.sidebar__avatar {
  max-width: 56px;
  max-height: 56px;
}
